.find-user-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .find-user-content {
    text-align: center;
    margin-top: 100px; /* Ajuste a margem superior para centralizar a barra de pesquisa */
  }

  .details-users-details {
    font-size: 24px; /* Tamanho da fonte maior */
    font-weight: bold; /* Texto em negrito */
    color: var(--color-dark); /* Cor primária */
    margin-bottom: 40px; /* Espaçamento inferior */
    margin-top: 10px;
  }  

  .username-input {
    margin-bottom: 100px;
    padding: 15px; /* Aumente o preenchimento */
    border-radius: 25px; /* Aumente o raio da borda para torná-la mais arredondada */
    border: 1px solid var(--color-details);
    width: 500px; /* Aumente a largura da barra de pesquisa */
    font-size: 16px;
    position: relative;
    font-family: "Raleway", sans-serif;
  }
  
  /* Estilize o placeholder conforme necessário */
  
  .user-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .user-item-user {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Reduza o raio da borda */
    padding: 20px;
    transition: background-color 0.3s ease;
  }
  
  .user-item-user:hover {
    background-color: var(--color-primary);
    color: white;
  }
  
  .user-link-user {
    text-decoration: none;
    color: inherit;
  }


  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .error-message-error {
    color: var(--color-alert);
    font-weight: bold;
    margin-top: 20px;
  }
  