/* FirstWorldCountries.css */

/* Estilo para centralizar o conteúdo */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centraliza verticalmente */
}

/* Estilo para a lista de comunidades */
.comunidades-list {
  text-align: center;
}

/* Estilo para o título da lista */
.comunidades-list h2 {
  margin-bottom: 20px;
}

/* Estilo para a lista de comunidades */
.comunidades-list-ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto; /* Centraliza horizontalmente */
  width: 300px; /* Defina a largura da lista */
}

/* Estilo para os itens da lista */
.comunidades-list-item {
  margin-bottom: 10px;
  background-color: var(--color-details-focus); /* Cor de fundo */
  padding: 10px;
  border-radius: 5px; /* Borda arredondada */
}
