/* Estilos para o contêiner principal */
.container-pub {
  overflow-y: auto;
}
/* Estilos para o contêiner das informações da publicação */
.image-details-container {
  width: 100%; /* Ajusta a largura para ocupar toda a tela */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
  margin-top: 20px; /* Margem superior para separar os elementos */
}



/* Estilos para a imagem retangular */
.publication-image {
  width: 100vw,100vw,auto; /* Define a largura como 100% para ocupar toda a largura da tela */
  height: 700px; /* Define a altura máxima como 80% da altura da viewport */
  object-fit: cover; /* Garante que a imagem cubra o contêiner */
  margin-bottom: 10px; /* Adiciona espaço inferior */
  margin-top: 20px;
  margin-left: 10%;
}

/* Estilos para o contêiner das informações da publicação */
.publication-details {
  margin-top: 20px; /* Margem superior para separar da imagem */
  margin-left: 10%;
}

.rounded,
.publication-details p {
  display: inline-block; /* Faz com que fiquem na mesma linha */
  vertical-align: middle; /* Alinha verticalmente ao meio */
  margin-top: -25px;
  margin-left: 10px;
  font-weight: bold;
}

.publication-details p {
  font-size: 1rem; /* Tamanho da fonte do parágrafo */
}

/* Estilos para a imagem redonda */
.rounded-image {
  width: 60px; /* Defina a largura desejada */
  height: 60px; /* Defina a altura desejada */
  object-fit: cover; /* Garante que a imagem cubra o contêiner */
  border-radius: 50%; /* Torna a imagem redonda */
  margin-top: 20px;
  margin-left: -250px;
}

/* Media queries para ajustar o layout em diferentes tamanhos de tela */

@media only screen and (max-width: 768px) {
  .image-details-container {
      flex-direction: column; /* Altera a direção para coluna em telas menores */
  }

  .publication-details {
      position: static; /* Remove a posição absoluta */
      width: 100%; /* Define a largura como 100% */
      margin-top: 20px; /* Ajusta a margem superior */
  }

  .publication-details h2,
  .publication-details p {
      margin: 0; /* Remove as margens */
      text-align: center; /* Centraliza o texto */
  }

  .publication-image {
    width: 100%; /* Define a largura como 100% */
    max-width: 370px; /* Define uma largura máxima */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;
    margin-bottom: 20px;
    margin-left: 80px; /* Remove a margem direita */
}


  .rounded-image {
      position: relative; /* Remove a posição absoluta */
      top: 0; /* Reinicia a posição superior */
      left: 0; /* Reinicia a posição esquerda */
      margin-bottom: 20px; /* Ajusta a margem inferior */
  }
}
