.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; /* Cor de fundo */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-content {
  overflow: hidden;
}

.loading-text {
  font-size: 28px;
  font-weight: bold;
  color: transparent; /* Torna o texto inicialmente transparente */
  position: relative;
  animation: reveal-text 5s ease infinite, scale-text 0.5s ease 4.5s forwards;
}

.spinner {
  width: 70px;
  height: 70px;
  border: 7px solid #16bb1f; /* Cor da borda do círculo */
  border-radius: 50%;
  border-top-color: transparent;
  position: absolute;
  left: calc(50% - 20px); /* Centraliza horizontalmente */
  top: calc(38% - 20px); /* Centraliza verticalmente */
  animation: spin 1.5s linear infinite, fade-in 1s ease-in-out infinite alternate;
}

@keyframes reveal-text {
  0% {
    color: transparent;
    clip-path: inset(0 100% 0 0);
  }
  100% {
    color: #000000; /* Cor final do texto (branco) */
    clip-path: inset(0 0 0 0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg); /* Gira o círculo completo */
  }
}

@keyframes fade-in {
  0% {
    opacity: 0; /* Começa invisível */
  }
  100% {
    opacity: 1; /* Termina completamente visível */
  }
}